@import "../../colors.scss";
#contact-btn {
    position: fixed;
    bottom: 3em;
    right: 3em;
    z-index: 100;
    background-color: $bg-dark-grey;
    background-image: none;
    border: solid 2px $secondary;
    box-shadow: $soft-shadow;
    &.hidden {
        bottom: -3em;
    }
}

#contact-circle {
    background-color: $primary;
}