@import '../../colors.scss';
.row {
    max-width: 100% !important;
}

.title {
    font-size: 10rem;
    font-weight: 800;
    font-style: normal;
}

.title,
.sub-title {
    margin-left: 10%;
}

header {
    min-height: 100vh;
    // height: 140vh;
    //background: url(../../assets/images/bg-main-2.png) center;
    background-size: cover;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    opacity: 0.45;
}

.blob {
    height: 30em;
    width: 30em;
}

.col {
    margin: 20vh 0 0 0;
}