@import "../../colors.scss";

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 2em;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline-block;
        width: fit-content;
        a {
            font-size: 1.2em;
            font-weight: 300;
            text-decoration: none;
            color: $text-1;
            transition: 0.3s;
            &:hover {
                color: $text-hover;
                transition: 0.3s;
            }
        }
    }
}

.nav-mobile {
    z-index: 100;
    background-color: transparent;
    padding: 1.2em;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 1s;
}

.scrolled{
    background-color: $bg-medium-grey;
}

.logo {
    width: 2em;
    height: 2em;
}

.burger {
    display: none;
}

.close {
    visibility: hidden;
}

.active-nav-link{
    color: $primary;
}

@media only screen and (max-width: 600px) {
    .burger {
        display: block;
        font-size: 1.8em;
        color: $text-1;
    }
    .nav-icons {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .nav-mobile {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav {
        display: block;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        overflow-x: hidden;
        transition: 0.5s;
        height: 100vh;
        transform: translateX(100%);
        background-color: $bg-medium-grey;
        padding: 2em;

        &.active {
            transform: translateX(30%);
        }
    }

    .close {
        visibility: visible;
        color: $text-1;
        font-size: 2em;
        padding-bottom: 1em;
    }
}
