@import '../../../colors.scss';
section#contact {
    img {
        width: 110%;
        &#wave-top {
            transform: translateY(15%) translateX(-5%);
        }
        &#wave-bottom {
            transform: translateY(-26%) translateX(-5%);
        }
    }
    .contact-bg {
        position: relative;
        z-index: 3;
        min-height: 80vh;
        background-color: $primary;
    }
    .contact-cont {
        margin: 0 auto;
        max-width: $max-width;
        padding: 2em $main-margin;
        display: flex;
        flex-direction: column;
    }
    .contact-info {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20%;
        row-gap: 3em;
        margin-top: 5em;
        padding-left: 2em;
        .info-text {
            position: absolute;
            top: 53%;
            transform: translateX(30%);
        }
    }
    .contact-icon {
        height: 25em;
    }
}