@import '../../../colors.scss';
section#contact {
    position: relative;
    z-index: 11;
    margin-top: -10vh;
    img {
        width: 110%;
        &#wave-top {
            transform: translateY(15%) translateX(-5%);
        }
        &#wave-bottom {
            transform: translateY(-26%) translateX(-5%);
        }
    }
    #blob {
        position: absolute;
        transform: rotate(-154deg);
        height: 60%;
        left: -40%;
        top: -5%;
    }
    .contact-bg {
        position: relative;
        z-index: 3;
        min-height: 80vh;
        background-color: $primary;
    }
    .contact-cont {
        margin: 0 auto;
        max-width: $max-width;
        padding: 2em $main-margin;
        display: flex;
        flex-direction: column;
    }
    .contact-info {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20%;
        row-gap: 3em;
        margin-top: 5em;
        padding-left: 2em;
        .info-text {
            position: absolute;
            top: 53%;
            transform: translateX(30%);
        }
    }
    .contact-icon {
        height: 25em;
    }
}

section#philosophie {
    min-height: 100vh;
    margin-top: -20vh;
    position: relative;
    z-index: 8;
    #forest {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }
    .content {
        max-width: $max-width;
        margin: 0 auto;
        padding: 25% $main-margin;
        position: relative;
        z-index: 10;
        text-align: end;
        p {
            width: 100%;
        }
        .line-flex {
            justify-content: flex-end;
        }
    }
}

section#philosophie::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(0deg, $bg-dark-grey 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 55%, $bg-dark-grey 100%);
}