@import '../../../colors.scss';
section#contact {
    position: relative;
    z-index: 11;
    margin-top: -10vh;
    img {
        width: 110%;
        &#wave-top {
            transform: translateY(15%) translateX(-5%);
        }
        &#wave-bottom {
            transform: translateY(-26%) translateX(-5%);
        }
    }
    #blob {
        position: absolute;
        transform: rotate(-154deg);
        height: 60%;
        left: -40%;
        top: -5%;
    }
    .contact-bg {
        position: relative;
        z-index: 3;
        min-height: 80vh;
        background-color: $primary;
    }
    .contact-cont {
        display: flex;
        flex-direction: column;
    }
    .contact-info {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20%;
        row-gap: 3em;
        margin-top: 5em;
        .info-text {
            position: absolute;
            transform: translateY(-230%);
        }
    }
    .contact-icon {
        height: 25em;
    }
}

section#philosophie {
    min-height: 100vh;
    margin-top: -20vh;
    position: relative;
    z-index: 8;
    #forest {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }
    .content {
        z-index: 10;
        text-align: end;
        padding: 25% $main-margin;
        p {
            width: 100%;
        }
    }
}

section#philosophie::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(0deg, $bg-dark-grey 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 55%, $bg-dark-grey 100%);
}

section#about-me {
    .content {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(auto-fill, minmax(20em, 35em));
        justify-content: space-between;
        #img-noe {
            position: relative;
            width: 70%;
            z-index: 10;
            display: flex;
            margin: 0 auto;
        }
        .image::before {
            content: "";
            background-image: url('../../../assets/design-elements/blob-haikei.svg');
            background-size: 100% 100%;
            display: inline-block;
            height: 80%;
            width: 45%;
            position: absolute;
            transform: rotate(157deg);
            top: 40%;
            left: 50%;
        }
    }
    p {
        width: 100%;
    }
}

section#tools {
    .comparison {
        overflow: hidden;
        #before {
            position: absolute;
            overflow: hidden;
            width: 100%;
        }
        .img-wrapper {
            position: absolute;
        }
    }
}

@media only screen and (max-width: $screen-md) {
    section#philosophie {
        margin-top: 0;
    }
}