@import '../../colors.scss';
footer {
    background-color: $bg-darker-grey;
    p {
        padding: 3em;
        text-align: center;
        margin: 0;
    }
}

.top-footer {
    display: flex;
    flex-direction: column;
}