@import "./colors.scss";
.App {
    background-color: $bg-dark-grey;
    min-height: 100vh;
    overflow-x: hidden;
}

.close-btn {
    position: relative;
    z-index: 100;
}

iframe.yt-video {
    width: 100%;
    height: 100%;
}

button.primary {
    background: linear-gradient(90deg, $tertiary 0%, $primary 100%);
    font-size: 1em;
    border-radius: $border-main;
    border-style: none;
    padding: 0.4em 1em;
    transition: 0.4s;
    filter: saturate(0.6);
    &:hover {
        filter: saturate(1);
        transition: 0.4s;
    }
}

input {
    background-color: transparent;
    border: none;
    border-bottom: solid 3px;
    transition: 0.4s;
    &::placeholder {
        color: rgba(20, 20, 20, 0.438);
    }
    &:focus {
        outline: none;
        border-color: rgba(255, 255, 255, 0.589);
        transition: .3s;
    }
}

p.date {
    color: $text-2;
    font-weight: 200;
    font-size: 1em;
}

.underline {
    display: block;
    width: fit-content;
    position: relative;
    overflow: hidden;
    padding-bottom: 0.1em;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.2em;
        background-color: $tertiary;
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
    }
    &:hover::after,
    &:focus::after {
        opacity: 1;
        transform: translate3d(0, 0.0em, 0);
    }
    &::after {
        transform: translate3d(-100%, 0, 0);
    }
    &:focus::after {
        transform: translate3d(0, 0, 0);
    }
}

.transition-circle {
    z-index: 10000;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    transform: translateX(50%) translateY(50%);
    transition: .7s;
    height: 0;
    width: 0;
    &.open {
        height: 300%;
        width: 300%;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(3em)
    }
    100% {
        opacity: 1;
        transform: translateY(0%)
    }
}