//bg colors
$bg-dark-grey: #141316; //#121212
$bg-medium-grey: #1e1d20;
$bg-light-grey: #333238;
//Text colors
$text-1: #ffffffdd;
$text-2: #ffffff99;
$text-3: #ffffff60;
$text-highlight: #fa4141;
$text-hover: #ffffff99;
//Colors
$primary: rgb(71, 75, 255);
$secondary: #ffffffdd;
$tertiary: #fff;