//bg colors
$bg-dark-grey: #0c0c0e; //#141316; //#121212
$bg-medium-grey: #1e1d20;
$bg-light-grey: #333238;
//Text colors
$text-1: #ffffffdd;
$text-2: #ffffff99;
$text-3: #ffffff60;
$text-highlight: #fa4141;
$text-hover: #ffffff99;
//Colors
$primary: #7B7EFE; //rgb(71, 75, 255);
$secondary: #5557B8; //rgb(50, 52, 175);
$tertiary: #2B2940; //rgb(36, 38, 129);
$border-main: 20px;