//bg colors
$bg-darker-grey: #050505;
$bg-dark-grey: #0c0c0e; //#141316; //#121212
$bg-medium-grey: #1e1d20;
$bg-light-grey: #333238;
$bg-dark-grey-0: #0c0c0e00;
//Text colors
$text-0: #fff;
$text-1: #ffffffdd;
$text-2: #ffffff99;
$text-3: #ffffff60;
$text-highlight: #fa4141;
$text-hover: #ffffff99;
//Colors
$primary: #7B7EFE; //rgb(71, 75, 255);
$secondary: #5557B8; //rgb(50, 52, 175);
$tertiary: #2B2940; //rgb(36, 38, 129);
$transparent-primary: #6c70ff87;
//General variables
$border-main: 20px;
$card-width: 20em;
$main-margin: 6vw;
$max-width: 1400px;
//Shadow
$soft-shadow: 14px 12px 47px -8px #000000;
$img-gradient-right: linear-gradient(90deg, $bg-dark-grey 0%, rgba(0, 0, 0, 0) 60%);
$img-gradient-bottom: linear-gradient(180deg, $bg-dark-grey 0%, rgba(0, 0, 0, 0) 60%);
//Media query overwrite
@media only screen and (max-width: 400px) {
    //$main-margin: 1em !global;
}